<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lista de tareas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Lista de tareas</h1>
    <div id="div-input">
        <input type="text" id="input" placeholder="Escribe una tarea">
        <button id="boton-agregar">Agregar</button>
    </div>
    <h3 style="text-align: center;"></h3>

    <div id="div-ul">
        <ul style="display: inline-block;"></ul>
    </div>

    <script src='/js/main.js'></script>
</body>
</html>